<!-- -->
<ion-header>
   <ion-navbar color="primary">
    <button ion-button icon-only (click)="back()" style="background-color: #00b6c1;">
      <ion-icon name="arrow-back"></ion-icon>
  </button>

  </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div id="over" style="width:100%; height:100%">
        <img src="assets/img/logo.png" width="50%"  alt="Tool Tip">
    </div>
    </div>

    <ion-row>
      <ion-col col-6>
        <button ion-button block (click)="openPassword()" id="btnpassword" style="background-color: #00b6c1">

          PASSWORD
        </button>
      </ion-col>

      <ion-col col-6>
        <button ion-button block (click)="openOtp()" id="btnotp">

          OTP
        </button>
      </ion-col>
    </ion-row>

    <!-- Login form -->
    <ion-list id="passworddiv">
      <form novalidate (ngSubmit)="loginpassword()" [formGroup]="loginPasswordform" >
        <ion-item>
          <ion-label floating><ion-icon name="mail" item-start class="text-primary"></ion-icon>Email</ion-label>
          <ion-input type="text" [(ngModel)]="userPasswordData.email" formControlName="email" [class.error1]="!loginPasswordform.controls.email.valid && loginPasswordform.controls.email.dirty"></ion-input>
         </ion-item>
        <ion-item no-lines *ngIf="( loginPasswordform.get('email').hasError('minlength') || loginPasswordform.get('email').hasError('pattern') ||loginPasswordform.get('email').hasError('required') ) && loginPasswordform.get('email').touched">
          <div class="error" *ngIf="loginPasswordform.get('email').hasError('required') && loginPasswordform.get('email').touched">
            Please input your email
          </div>
          <div class="error" *ngIf="loginPasswordform.get('email').hasError('pattern') && loginPasswordform.get('email').touched">
            Email address invalid
          </div>
        </ion-item>

        <ion-item>
          <ion-label floating><ion-icon name="lock" item-start class="text-primary"></ion-icon>Password</ion-label>
          <ion-input type="password" [(ngModel)]="userPasswordData.password" formControlName="password" [class.error1]="!loginPasswordform.controls.password.valid && loginPasswordform.controls.password.dirty"></ion-input>
        </ion-item>

        <ion-item no-lines *ngIf="( loginPasswordform.get('password').hasError('minlength') || loginPasswordform.get('password').hasError('maxlength') ||loginPasswordform.get('password').hasError('required') ) && loginPasswordform.get('password').touched">
          <div class="error" *ngIf="loginPasswordform.get('password').hasError('required') && loginPasswordform.get('password').touched">
            Please input your password
          </div>
          <div class="error" *ngIf="loginPasswordform.get('password').hasError('minlength') && loginPasswordform.get('password').touched">
            Minimum 6 characters
          </div>
          <div class="error" *ngIf="loginPasswordform.get('password').hasError('maxlength') && loginPasswordform.get('password').touched">
            Maximum 12 characters
          </div>
        </ion-item>


        <button type="submit" ion-button block color="primary" [disabled]="loginPasswordform.invalid">SIGN IN</button>
      </form>
    </ion-list>

    <ion-list id="otpdiv" style="display: none;">
      <form novalidate (ngSubmit)="loginOtp()" [formGroup]="loginOtpForm" >
        <ion-item>
          <ion-label floating> <ion-icon name="call" item-start class="text-primary"></ion-icon>Mobile No </ion-label>
          <ion-input type="number" [(ngModel)]="userOtpData.phone_no" formControlName="phone_no" [class.error1]="!loginOtpForm.controls.phone_no.valid && loginOtpForm.controls.phone_no.dirty"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( loginOtpForm.get('phone_no').hasError('minlength') || loginOtpForm.get('phone_no').hasError('maxlength') ||loginOtpForm.get('phone_no').hasError('pattern') ||loginOtpForm.get('phone_no').hasError('required') ) && loginOtpForm.get('phone_no').touched">
          <div class="error" *ngIf="loginOtpForm.get('phone_no').hasError('required') && loginOtpForm.get('phone_no').touched">
            Please input your phoneno
          </div>
          <div class="error" *ngIf="loginOtpForm.get('phone_no').hasError('minlength') && loginOtpForm.get('phone_no').touched">
            Minimum 10 characters
          </div>
          <div class="error" *ngIf="loginOtpForm.get('phone_no').hasError('maxlength') && loginOtpForm.get('phone_no').touched">
            Maximum 10 characters
          </div>
          <div class="error" *ngIf="loginOtpForm.get('phone_no').hasError('pattern') && loginOtpForm.get('phone_no').touched">
            Just use numeric character
          </div>
        </ion-item>

        <ion-item>
          <ion-label floating><ion-icon name="lock" item-start class="text-primary"></ion-icon>Otp</ion-label>
          <ion-input type="password" [(ngModel)]="userOtpData.otp" formControlName="otp" [class.error1]="!loginOtpForm.controls.otp.valid && loginOtpForm.controls.otp.dirty"></ion-input>
        </ion-item>

        <ion-item no-lines *ngIf="( loginOtpForm.get('otp').hasError('minlength') || loginOtpForm.get('otp').hasError('maxlength') ||loginOtpForm.get('otp').hasError('required') ) && loginOtpForm.get('otp').touched">
          <div class="error" *ngIf="loginOtpForm.get('otp').hasError('required') && loginOtpForm.get('otp').touched">
            Please input your otp
          </div>
          <div class="error" *ngIf="loginOtpForm.get('otp').hasError('minlength') && loginOtpForm.get('otp').touched">
            Minimum 6 characters
          </div>
          <div class="error" *ngIf="loginOtpForm.get('otp').hasError('maxlength') && loginOtpForm.get('otp').touched">
            Maximum 12 characters
          </div>
        </ion-item>


        <button type="submit" ion-button block color="primary"  [disabled]="loginOtpForm.invalid">SIGN IN</button>
      </form>
      <p text-right ion-text color="secondary" tappable (click)="sendOTP()"  ><strong>Send OTP</strong></p>
    </ion-list>

    <p text-right ion-text color="secondary" tappable (click)="forgotPass()"  ><strong>Forgot Password?</strong></p>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="regi()">New here? <strong>Sign up</strong></span>
    </div>

  </div>
</ion-content>
